html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/* Desktop Nav styles */

.desktop-nav.flex {
  align-items: center;
  justify-content: space-between;
  margin: 0 1.5rem;
  height: 4rem;
  border: solid;
}

.desktop-nav nav a {
  margin-right: 1rem;
  text-decoration: none;
}

.desktop-nav nav a:hover {
  text-decoration: underline;
}

.desktop-nav nav a:last-child {
  margin-right: 0;
}

.logo.flex {
  align-items: center;
}

/* Hero Section styles */

.flex {
  display: flex;
}

.hero-section {
  background-color: lightgray;
}

.hero-image {
  width: 60%;
  margin: 2rem 1.5rem;
}

.hero-image img {
  width: 100%;
}

.hero-text {
  margin: 2rem 1.5rem;
  width: 40%;
}

.hero-text h1 {
  font-size: 4rem;
  padding: 2rem 0;
}

.hero-text h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.hero-text a {
  background: black;
  padding: .5rem 5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

/* Campus Info styles */

.campus-info-main {
  width: 60%;
  margin: 2rem 1.5rem;
}

.campus-info-main img {
  width: 100%;
}

.campus-info-main h1 {
  font-size: 4rem;
  padding: 2rem 0 1.5rem 0;
}

.campus-info-main p:last-child {
  padding: 2rem 0;
}

.campus-info-main p {
  font-size: 1.5rem;
}

.campus-info-sidebar {
  width: 40%;
  margin: 2rem 1.5rem;
}

.campus-info-sidebar.flex {
  flex-direction: column;
}

.campus-info-item {
  border: solid 1px;
}

.campus-info-image {
  width: 35%;
  margin: 1rem;
}

.campus-info-sidebar img {
  width: 100%;
  height: auto;
}

.campus-info-detail {
  width: 65%;
}

.campus-info-detail.flex {
  flex-direction: column;
  justify-content: center;
}

.campus-info-item:last-child {
  background: lightgray;
}

.campus-info-detail span {
  padding: .5rem 0;
}

/* Courses styles */

.courses-section {
  background: lightgray;
}

.courses-title h1 {
  text-align: center;
  padding: 2rem 0;
}

.courses-offerings.flex {
  margin: 0 6rem 2rem 6rem;
}

.column {
  flex-direction: column;
}

.course-detail.flex.column {
  background: white;
  padding: 1rem;
}

.course-detail.flex.column span:nth-child(1n + 2) {
  padding-top: .5rem;
}

.course-item {
  padding-right: 1rem;
}
